/[Ll]ibrary/
/[Oo]bj/
/[Ll]ogs/
/[Tt]emp/
/[Uu]serSettings/
/[Pp]ackages/*
![Pp]ackages/manifest.json
![Pp]ackages/packages-lock.json

.vs/
.idea/
.vscode/

*.csproj
*.unityproj
*.sln
*.user
*.userprefs